<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/news">News</a></li>
    		</ul>
		</nav>
		<div class="container">
      
         	{{ content }}

<!--     		<div class="blurb">
        		<h1>Erica Kermani</h1>
				<p>Erica Kermani is an <em>community organizer, and educator.</em> She is currently an MFA candidate in Design and Technology at Parsons School of Design The New School. <a href="/about">Read more.</a></p>
    		</div><!-- /.blurb -->
		</div>
		<!-- /.container -->
    
		<footer>
    		<ul>
        		<li><a href="mailto:ekermani@fastmail.com">email</a></li>
        		<li><a href="https://github.com/ekermani">github.com/ekermani</a></li>
			</ul>
		</footer>
	</body>
</html>
